### Домашнее задание 1 практическое

`1. Начните писать дневник`

*Дорогой дневник, сегодня я...*

![Первая запись в дневнике путешественника](http://www.svadbuzz.ru/sites/default/files/imagecache/photo-big/users/14271/photo/2015/242/o8QIIvSA8JE.jpg)

`2. Задайте последовательность натуральных чисел от 1 до  10`

In [11]:
x2 = 1:10
x2

1:10

Если первая запись пугает, то можно и явно :)

In [14]:
x2b = collect(1:10)
x2b

10-element Array{Int64,1}:
  1
  2
  3
  4
  5
  6
  7
  8
  9
 10

`3. Задайте последовательность натуральных чисел от 3 до 33, которые без остатка делятся на 3`

In [7]:
x3 = 3:3:33
x3

3:3:33

`4. Задайте последовательность от 5 до -5 в обратном порядке`

In [8]:
x4 = 5:-1:-5

5:-1:-5

`5. Задайте последовательность 6, 6.1, 6.3 (повторить 4 раза)`

In [15]:
x5 = [6, 6.1, 6.3]

3-element Array{Float64,1}:
 6.0
 6.1
 6.3

`6. Задайте последовательность 1,2,...,10,9,8,....,1`

In [18]:
x6 = [1:10; 9:-1:1]
x6

19-element Array{Int64,1}:
  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
  9
  8
  7
  6
  5
  4
  3
  2
  1

In [21]:
A = [1 2 3; 4 5 6; 7 8 9]

3×3 Array{Int64,2}:
 1  2  3
 4  5  6
 7  8  9

In [42]:
Ab = [collect(1:3); collect(4:6); collect(7:9)]
Ab

9-element Array{Int64,1}:
 1
 2
 3
 4
 5
 6
 7
 8
 9

Найдите $A'$, $A + A'$, $AA'$

In [24]:
A'

3×3 Array{Int64,2}:
 1  4  7
 2  5  8
 3  6  9

In [26]:
A + A'

3×3 Array{Int64,2}:
  2   6  10
  6  10  14
 10  14  18

In [27]:
A * A'

3×3 Array{Int64,2}:
 14   32   50
 32   77  122
 50  122  194

Находим $det(A)$, $rank(A)$, $A^{-1}$, $trace(A)$

In [33]:
det(A)

6.661338147750939e-16

In [34]:
rank(A)

2

In [35]:
inv(A)

3×3 Array{Float64,2}:
 -4.5036e15   9.0072e15   -4.5036e15
  9.0072e15  -1.80144e16   9.0072e15
 -4.5036e15   9.0072e15   -4.5036e15

In [36]:
trace(A)

15

Составьте матрицу, каждый член которой будет состоять из квадрата соответствующего
элемента матрицы A

In [31]:
A.^2

3×3 Array{Int64,2}:
  1   4   9
 16  25  36
 49  64  81